:host {
  width: 100%;
  height: 100%;
}

/*.background {
  width: 100%;
  height: 100%;
  background: url("https://i.ytimg.com/vi/VjSgDrjyP7M/maxresdefault.jpg") no-repeat;
  opacity: 0.5;*/
/*background: url("https://i.ytimg.com/vi/D9RcPGWrGV8/maxresdefault.jpg") no-repeat;*/
/*position: absolute;
  z-index: -50;
}*/

/*.tools {
  position: relative;
  z-index: 1;
}*/

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url("https://i.ytimg.com/vi/VjSgDrjyP7M/maxresdefault.jpg") no-repeat;
  /*opacity: 0.5;*/
  /*background: url("https://i.ytimg.com/vi/D9RcPGWrGV8/maxresdefault.jpg") no-repeat;*/
}

  .main .tools {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }

  .main .left-tools {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 180px;
    pointer-events: auto;
  }

.left-tools .play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .left-tools .play-btn svg {
    width: 140px;
    height: 140px;
    pointer-events: none;
  }

.display {
  height: 100%;
  width: 100%;
}
